* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

body{
    display: flex;
    align-items: center;
}

h1, p{
    font-family: 'Inter', sans-serif;
}

body{
    background-image: linear-gradient(90deg, #2a9385, #5300c6);
}

#container{
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    margin: auto;
    max-width: 750px;
    min-height: min(700px, 80vh);
    background-image: linear-gradient(135deg, #f4f7f6, #dbd7db);
    width: 90%;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

h1{
    border-bottom: 2px solid black;
    text-align: center;
    width: 80%;
    font-size: 2.5rem;
}

input, p{
    font-size: 1.2rem;
}

input{
    border: none;
    background-image: linear-gradient(30deg, #d3d4d4, #d5d4d7);
    margin-top: 1rem;
    padding: 1rem;
    width: 80%;
    border-radius: 1.5rem;;
    display: block;
    text-decoration: none;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.02),
    0 2px 2px hsl(0deg 0% 0% / 0.02),
    0 4px 4px hsl(0deg 0% 0% / 0.02),
    0 8px 8px hsl(0deg 0% 0% / 0.02),
    0 16px 16px hsl(0deg 0% 0% / 0.02)
    ;
}

input:focus{
    outline: none;
}

@media (max-width: 600px) {
    #container {
        width: calc(100% - 2rem);
        border-radius: 1.5rem;
    }

    h1 {
        font-size: 1.5px;
    }

    input, p {
        font-size: 1rem;
    }
}
